<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="head master" class="header-master">
            </div>
            <div class="col">
                <div class="headmaster-speach">
                      
                        <div class="speach-container">
                            <p class="speach-content">

                            "Di setiap halaman buku kehidupanmu, tulislah kisah dengan tinta keberanian, 
                            warna-warni impian, dan hiasan kegigihan. Jadikan setiap tantangan sebagai pelajaran,
                             karena perjalanan panjang ini akan membawamu menuju masa depan yang gemilang."
                            </p>
                        </div>
                       
                        <div class="footer">
                           <p class="name">Vieranditto G.</p>
                           <p class="name">Head Master</p>
                        </div>
                </div>           
            </div>
        </div>
    </div>
</div>