<div class="banner-section" id="bannerId">
  <div class="swiper-container banner-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1527891751199-7225231a68dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  alt="banner image" class="banner-image">  
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1590579491624-f98f36d4c763?q=80&w=2043&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="banner image" class="banner-image">
      </div>
      <div class="swiper-slide">
        <img src="https://images.unsplash.com/photo-1565246075196-94d3995a0b37?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8" alt="banner image" class="banner-image">
      </div>
    </div>
  </div>
  <div class="banner-overlay">
    <div class="banner-layer"></div>
    <div class="banner-description">
      <h1>SMK TADIKAMESRA</h1>
      <h2>CERDAS DAN BERKARAKTER</h2>
      <button class="btn-pendaftaran">REGISTRATION 2024/2025</button>
    </div>
  </div>
</div>
