<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="map-container">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1924229.1581073687!2d109.06353037381095!3d-7.694359799999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a5fe6f3858fef%3A0x68b4c276c78b244c!2sSTM%20Tadika%20Mesra!5e1!3m2!1sid!2sid!4v1726626165234!5m2!1sid!2sid"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col">
                <div class="social-media">
                    <h3>STM TADIKAMESRA</h3>
                    <address>
                        Jl. Siwalankerto Permai 1A, Wonocolo, Surabaya
                    </address>
                    <div class="list-social-media">
                        <a href="https://www.facebook.com/share/p/qSfbeqi1byhoQx8E/?mibextid=xfxF2i" class="social-media-btn"><i class="fa-brands fa-facebook-square"></i></a>
                        <a href="https://x.com/SMKN12sby" class="social-media-btn"><i class="fa-brands fa-twitter-square"></i></a>
                        <a href="https://www.instagram.com/smkn12surabaya?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="social-media-btn"><i class="fa-brands fa-instagram-square"></i></a>
                        <a href="https://youtube.com/@jurusanteatersmkn12surabay11?si=P4jdciQ0DXcC8K5Q" class="social-media-btn"><i class="fa-brands fa-youtube-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-extra">
            <div class="contact-info">
                <h4>Kontak Kami</h4>
                <p>Email: info&#64;stmtadikamesra.sch.id</p>
                <p>Telepon: +62 31 1234567</p>
            </div>
            <div class="additional-links">
                <h4>Kutipan Inspiratif</h4>
                <p>"Pendidikan adalah senjata paling ampuh yang bisa digunakan untuk mengubah dunia." – Nelson Mandela</p>
            </div>
            <div class="achievements">
                <h4>Prestasi Kami</h4>
                <ul>
                    <li>Juara 1 Lomba Robotik Nasional 2024</li>
                    <li>Juara 3 Lomba Melukis Nasional 2018</li>

                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 STM Tadikamesra. All rights reserved.</p>
        </div>
    </div>
</div>
