<mat-toolbar class="tiny-information-section" id="headerId">
   <span class="section-email">
    <i class="fa-solid fa-envelope"></i>smkn12surabaya&#64;gmail.com
    </span>
    <span class="section-phone">
        <i class="fa-solid fa-phone"></i>08770340191919
    </span>
    <span class="spacer"></span>
    <div class="information-flag">
        <img src="https://cdn-icons-png.flaticon.com/128/2151/2151329.png" alt="indonesian-flag" class="flag indonesian-flag"/>
        <img src="https://cdn-icons-png.flaticon.com/128/16183/16183637.png" alt="british-flag" class="flag british-flag"/>
      </div>
  </mat-toolbar>
  
