<div class="achievment-section" id="ekskulId">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Ekstrakulikuler</h1>
            </div>
        </div>
        <div class="image-grid-wrapper">
            <div class="image-grid">
                <!-- Achievement 1 -->
                <input type="radio" id="achievement-1" name="achievement" class="achievement-input">
                <label for="achievement-1" class="achievement-1">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Klub Sains</h1>
                        <p>Ikuti eksperimen menarik dan kembangkan pengetahuan ilmiah Anda.</p>
                    </div>
                </label>
                
                <!-- Achievement 2 -->
                <input type="radio" id="achievement-2" name="achievement" class="achievement-input">
                <label for="achievement-2" class="achievement-2">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Klub Renang</h1>
                        <p>Perbaiki keterampilan renang Anda dalam lingkungan yang kompetitif.</p>
                    </div>
                </label>
                
                <!-- Achievement 3 -->
                <input type="radio" id="achievement-3" name="achievement" class="achievement-input">
                <label for="achievement-3" class="achievement-3">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Klub Voli</h1>
                        <p>Raih keunggulan dalam olahraga tim dan tingkatkan keterampilan voli Anda.</p>
                    </div>
                </label>
                
                <!-- Achievement 4 -->
                <input type="radio" id="achievement-4" name="achievement" class="achievement-input">
                <label for="achievement-4" class="achievement-4">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Klub Panahan</h1>
                        <p>Kembangkan fokus dan ketepatan dalam seni memanah dan mengewe seseorang.</p>
                    </div>
                </label>
                
                <!-- Achievement 5 -->
                <input type="radio" id="achievement-5" name="achievement" class="achievement-input">
                <label for="achievement-5" class="achievement-5">
                    <div class="achievementOverlay"></div>
                    <div class="achievement-description">
                        <h1>Klub Sepak Bola</h1>
                        <p>Bentuk keterampilan teamwork dan teknik sepak bola dalam pertandingan seru apalagi melihat cewe seksi telanjang.</p>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
